<div class="fluid-container">

    <div class="row">
        <div class="col-md-2">
            <h3>Apply Filters</h3>

        </div>
        <div class="col-md-10">
            <div class="form-inline well">
                <div class="form-group custom-form-margin">
                    <label class="control-label custom-control-label">By Name: </label>
                    <input class="form-control" ng-model="$ctrl.query" placeholder="search by name"/>
                </div>
                <div class="form-group custom-form-margin">
                    <label class="control-label custom-control-label">By Location: </label>
                    <input class="form-control" ng-model="$ctrl.query2" placeholder="search by location"/>
                </div>
                <div class="form-group custom-form-margin">
                    <label class="control-label custom-control-label">Sort By: </label>
                    <select class="form-control" ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>  
                        <option value="experience">Experience</option>
                    </select>
                </div>
                <div class="form-group custom-form-margin">
                    <label class="control-label custom-control-label">Pricing: </label>
                    <select class="form-control" ng-model="$ctrl.orderPrice">
                        <option value="name">Low - High</option>  
                        <option value="experience">High - Low</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <!--Side bar filter content-->
            <div class="well">
                <strong>Number of Photographers</strong>
                View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
            </div>
            <div class="well"> 
                <strong>Category</strong>
                <div ng-repeat="option in $ctrl.options">
                    <input type="checkbox" ng-model="option.selected"/>{{option.name}}
                </div>
            </div>

            <div class="well">
                <strong>Price Range</strong>
                <rzslider rz-slider-model="sliderPrice.min" rz-slider-high="sliderPrice.max" rz-slider-options="sliderPrice.options"></rzslider>
            </div>

            <div class="well">
                <strong>Gender</strong>
                <select ng-model="$ctrl.selectGender" ng-options="gender for gender in $ctrl.genders"></select>
            </div>

            <div class="well">
                <strong>Language</strong>
                <div ng-repeat="language in $ctrl.languages">
                    <input type="checkbox" ng-model="language.selected" />{{language.name}}
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="row">
                <ul class="photographers">
                    <div class="thumbnail" ng-repeat="x in $ctrl.photographers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:$ctrl.query | filter:$ctrl.query2 | filter:$ctrl.itemFilter | orderBy:$ctrl.orderProp | orderBy:$ctrl.orderPrice">
                        <li>
                            <a href="#/photographers/{{x.id}}" class="thumb">
                                <img ng-src="{{x.imageUrl}}" alt="{{x.name}}" />
                            </a>
                            <a href="#/photographers/{{x.id}}">{{x.name}}</a>
                            <p>{{x.snippet}}</p>          
                        </li>
                    </div>
                </ul>
            </div>
            <div class="row">
                <div class="text-center">                    
                    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-md" items-per-page="itemsPerPage"></pagination>    
                </div>
            </div>
        </div>        
    </div>
</div>
