.navbar {
   border-radius: 0px !important; 
}

.navbar-brand{
    padding:0px 15px !important;
}

.custom-form-margin{
    margin-right: 45px;
}

.custom-control-label{
    margin-right: 25px;
}

.container-fluid{
    margin-right: 20px !important ;
    margin-left: 20px !important ; 
}